<form [formGroup]="form" (ngSubmit)="ingresar()">
  <div class="min-h-screen flex items-center justify-center" autocomplete="off">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 shadow-xl">
      <legend class="fieldset-legend text-sm">
        Pulse<span class="text-primary">| Train</span>
      </legend>

      <label class="label">Correo Electrónico</label>
      <input type="email" class="input" placeholder="Correo Electrónico" formControlName="email" />
      @if (form.get('email')?.touched && form.get('email')?.hasError('required')) {
      <p class="label text-error">Este campo es obligatorio</p>
      }

      <label class="label">Contraseña</label>
      <input type="password" class="input" placeholder="Contraseña" formControlName="password" />
      @if (form.get('password')?.touched && form.get('password')?.hasError('required')) {
      <p class="label text-error">Este campo es obligatorio</p>
      } @if(cargando()){
      <progress class="progress progress-primary" max="100"></progress>
      }

      <button
        class="btn btn-primary mt-4"
        type="submit"
        [disabled]="form.invalid"
        routerLink="/core"
      >
        Ingresar
      </button>
    </fieldset>
  </div>
</form>
