<div class="flex justify-center items-center min-h-screen">
  <mat-card class="w-full max-w-md p-10">
    <div class="mb-6 text-center">
      <h1 class="text-2xl font-bold">Hola, Bienvenido!</h1>
      <p class="text-gray-500 text-sm">Ingresa con tu cuenta</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="ingresar()" class="gap-4 flex flex-col">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ejemplo@gmail.com" formControlName="email" />

        @if (form.get('email')?.hasError('required')) {
        <mat-error>El email es <strong>obligatorio.</strong></mat-error>
        } @if(form.get('email')?.hasError('email')) {
        <mat-error>Ingresa un email <strong>válido.</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput formControlName="password" />

        @if (form.get('password')?.hasError('required')) {
        <mat-error>La contraseña es <strong>obligatoria.</strong></mat-error>
        }
      </mat-form-field>

      <button matButton="elevated" class="w-full font-bold" [disabled]="form.invalid">
        Entrar
      </button>
    </form>
  </mat-card>
</div>
