@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
        error: mat.$red-palette,
      ),
      typography: Montserrat,
      density: 0,
    )
  );

  --mat-sys-label-large-weight: 700;
}

//Radio de los tipos de botones
.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-unelevated-button,
.mat-mdc-outlined-button {
  border-radius: 10px !important;
}

.text-primary {
  color: var(--mat-sys-primary) !important;
}

body {
  color-scheme: light;

  background-color: var(--mat-sys-surface);

  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}
